    {% extends 'base.html' %}
    {% block content %}
    <!-- container-->
    <div class="container">
        <!-- 제목 -->
        <div class="text-start mb-5">
            <h2 class="border-bottom py-2">e메일</h2>
        </div>
        <!-- 제목 end-->

        <!-- button -->
        <div class="d-grid gap-2 mb-1 d-md-flex justify-content-end">
            <input type="button" class="btn btn-primary btn-sm" value="전송" id="mail_send_btn">
        </div>
        <!-- button end -->

        <!-- 등록 form -->
          <div class="mb-3 row">
            <label for="to" class="col-sm-2 col-md-2 col-lg-2 col-form-label">받는사람</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="text" class="form-control" id="to" name="to" >
            </div>
          </div>

          <div class="mb-3 row">
            <label for="subject" class="col-sm-2 col-md-2 col-lg-2 col-form-label">제목</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
              <input type="text" class="form-control" id="subject" name="subject" >
            </div>
          </div>
          <div class="mb-3 row">
            <label for="content" class="col-sm-2 col-md-2 col-lg-2 col-form-label">내용</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <textarea rows="10" cols="20" class="form-control" name="content" id="content"></textarea>
            </div>
          </div>
        <!-- 등록 form end -->

    </div>
    <form method="post" id="mailForm" action="{% url 'common:sendmail_param' %}" >
        {% csrf_token %}
        <input type="hidden" name="to"           id="mail_to"  >
        <input type="hidden" name="subject"      id="mail_subject"  >
        <input type="hidden" name="content"      id="mail_content"  >
    </form>

    <!-- container end-->
    {% endblock %}
    <!--javascript -->
    {% block script %}
        <script>


            //btn_search : 검색어, page를  searchFrom할당
            const btn_mail = document.querySelector("#mail_send_btn");
            btn_mail.addEventListener('click',function(){
                console.log('btn_mail');
                document.querySelector('#mail_to').value   = document.querySelector('#to').value;
                document.querySelector('#mail_subject').value   = document.querySelector('#subject').value;
                document.querySelector('#mail_content').value   = document.querySelector('#content').value;

                console.log('mail_to:'+document.querySelector('#mail_to').value);
                console.log('mail_subject:'+document.querySelector('#mail_subject').value);
                console.log('mail_content:'+document.querySelector('#mail_content').value);
                document.querySelector('#mailForm').submit();
            });
        </script>
    {% endblock %}
    <!--javascript end-->